/* Loader */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1s ease-out;
}

.loader-logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
  animation: pulse 1.5s infinite ease-in-out;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.4));
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.6;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.6;
  }
}

/* Marquee Ad */
.ad-marquee-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgb(0 0 0 /80%);
  border-bottom: 1px solid #facc15;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  color: #facc15;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.ad-marquee-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 12px;
}

.ad-marquee-text {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: scroll-left 50s linear infinite;
}

.ad-marquee-text:hover {
  animation-play-state: paused;
}

.ad-marquee-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 4px;
  gap: 10px;
}

.ad-marquee-checkbox {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #bbb;
}

.ad-marquee-checkbox input {
  accent-color: #facc15;
}

.ad-marquee-close {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #facc15;
  border-radius: 5px;
  padding: 3px 8px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s;
}

.ad-marquee-close:hover {
  background: #facc15;
  color: #111;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}