/* Header and Navigation */
header {
  width: 100%;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent; 
  backdrop-filter: blur(0px); 
  position: fixed;
  top: 0;
  z-index: 1000;
}
header.navbar.scrolled {
  background-color: rgb(0 0 0 / 70%);
  backdrop-filter: blur(15px);
  height: 80px; 
  padding: 10px 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.pulldown {
  padding-top: 12rem;
}

/* .pulldown2 {
  padding-top: 5rem;
  
} */
 /* header.css */
.pulldown2 {
  padding-top: 6rem; 
}

.logo-container {
  width: 95px;
  height: 75px;
}

.logo {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

nav {
  flex: 1;
  margin-left: 40px;
}

nav ul {
  display: flex;
  gap: 60px;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
}

nav ul li a {
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: aliceblue;
  font-size: 1.1rem;
  transition: 0.4s;
}
nav ul li a:hover{
  color:  	 #ff4d4d;
}

.search-box {
  margin-left: auto;
}

#nav-menu .mobile-search {
  margin-top: 1rem;
  width: 100%;
}

.input-search {
  width: 150px;
  height: 30px;
  padding-left: 12px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  background: transparent;
  border: 2px solid red;
}

.input-search:focus {
  outline: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  border-radius: 5px;
}

.genre-dropdown {
  display: none;
  position: absolute;
  top: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid red;
  border-radius: 8px;
  padding: 10px;
}

.genre-dropdown a {
  display: block;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}

.genre-dropdown a:hover {
  color: red;
}

.relative {
  position: relative;
}