/* Preview Section */
.preview-section {
  border: 1px solid red;
  height: 100vh;
  align-content: center;
  color: rgb(240 248 255 / 20%);
  font-family: "Bungee Spice";
  padding-left: 60px;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 600;
}

.preview-info1 {
  color: aliceblue;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  filter: brightness(0.5);
  object-fit: cover;
}